$background-primary: #f1f2f6;
$background-secundary: #fff;
$background-green: linear-gradient(
  0deg,
  rgb(19, 131, 75) 0%,
  rgb(17, 216, 146) 100%
);
$background-red: linear-gradient(
  0deg,
  rgb(224, 6, 72) 0%,
  rgb(243, 75, 131) 100%
);
$background-disable: #f1f2f6;
$color-text-primary: #272727;
$color-text-secundary: #fff;
$color-text-green: #11d892;
